@media all and (max-width: 1024px) {
  nav {
    display: none;
  }
}

body {
  background-color: #e3eef8;
  width: auto;
}

.container {
  max-width: auto;
  margin: 10%;
}

@media all and (min-width: 1024px) {
  body {
    margin: 0 auto;
  }
  .container {
    margin: 0 auto;
    max-width: 900px;
    padding-top: 100px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.shade {
  background-color: #e5e5e5;
  border: none;
}

.shade a {
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  font-size: 30px;
}

.navig {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  padding-right: 30%;
}

.menu a {
  text-decoration: none;
  color: black;
  padding: 5px;
  font-family: sans-serif;
}

.but1 {
  border: 3px solid #258aff;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  width: auto;
}

.but1:hover {
  background-color: #258aff;
}

.but1:hover a {
  color: white;
}

.but1 a {
  font-size: 10px;
  text-decoration: none;
  color: #258aff;
  font-family: sans-serif;
  letter-spacing: 1px;
  text-align: center;
  font-weight: bold;
}

body {
  margin: 0;
}

#Page4 {
  background-color: #e3eef8;
}

#Page4 .partie4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-left: 30px;
  margin-right: 30px;
}

#Page4 .partie4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-left: 30px;
}

#Page4 .partie4 div div {
  margin-bottom: 10px;
}

#Page4 .partie4 div div .h2blue {
  color: #258aff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
}

#Page4 .partie4 div div .grandGras {
  font-weight: bold;
  font-size: 30px;
}

#Page4 .partie4 div div .gris {
  color: #666666;
  font-size: 15px;
  line-height: 32px;
  margin-left: 5px;
  margin-right: 5px;
}

#Page4 .partie4 div .partie4-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #ffffff;
  height: 250px;
  width: 315px;
  padding-top: 5px;
}

#Page4 .partie4 div .partie4-1 .font15px {
  font-size: 15px;
  margin-bottom: 20px;
  line-height: 32px;
  margin-left: 10px;
}

#Page4 .partie4 div .partie4-1 .jobgris {
  color: #666666;
  font-size: 12px;
  margin-top: -20px;
  margin-left: 10px;
}

#Page4 .partie4 div .partie4-1 .partie4-1-mini {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 200px;
  margin-left: 10px;
}

#Page4 .partie4 div .partie4-1 .partie4-1-mini div .imgicons {
  padding-top: 15px;
  width: 43px;
  height: 43px;
}

#Page4 .partie4 div .partie4-1-bis {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #ffffff;
  height: 250px;
  width: 315px;
  padding-top: 5px;
}

#Page4 .partie4 div .partie4-1-bis .font15px {
  font-size: 15px;
  margin-bottom: 20px;
  line-height: 32px;
  margin-left: 10px;
}

#Page4 .partie4 div .partie4-1-bis .jobgris {
  color: #666666;
  font-size: 12px;
  margin-top: -20px;
  margin-left: 10px;
}

#Page4 .partie4 div .partie4-1-bis .partie4-1-mini {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 200px;
  margin-left: 10px;
}

#Page4 .partie4 div .partie4-1-bis .partie4-1-mini div .imgicons {
  padding-top: 15px;
  width: 43px;
  height: 43px;
}

#Page4 .partie4 div .list {
  margin-top: 50px;
  margin-bottom: 50px;
  list-style-type: none;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

#Page4 .partie4 div .list .imglogo {
  width: 100px;
  height: 27.71px;
  padding-top: 10px;
}

#Page4 .partie4 div .list .listlogo {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}

#Partie5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
  padding-top: 35px;
  padding-bottom: 50px;
  background-color: #192f48;
}

#Partie5 .headp5 {
  margin-left: 40px;
}

#Partie5 .headp5 .h2white {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
}

#Partie5 .headp5 .grandblanc {
  font-weight: bold;
  font-size: 25px;
  color: #ffffff;
}

#Partie5 .basic {
  background-color: #2b405a;
  color: #ffffff;
  border-radius: 5px;
  width: 300px;
  height: 580px;
  margin-left: 40px;
  margin-right: 40px;
}

#Partie5 .basic .basictitle {
  color: #e5e5e5;
  text-transform: uppercase;
}

#Partie5 .basic p {
  padding-top: 30px;
  margin-left: 40px;
  margin-bottom: 20px;
}

#Partie5 .basic .basicline {
  font-size: 12px;
  width: 230px;
  color: #e5e5e5;
}

#Partie5 .basic ul {
  padding-top: 20px;
  padding-bottom: 30px;
  list-style: none;
}

#Partie5 .basic ul li:before {
  content: "\1F5F8";
  padding-right: 15px;
}

#Partie5 .basic ul li {
  padding-top: 20px;
}

#Partie5 .basic ul li span {
  text-decoration: line-through;
  color: #878b90;
}

#Partie5 .basic button {
  margin-left: 40px;
  color: #ffffff;
  background-color: #258aff;
  border-radius: 8px;
  padding: 12px;
  width: 180px;
  border: none;
}

#Partie5 .basic button:hover {
  background-color: #1f7be4;
}

#Partie5 .basic .basicgris {
  color: #878b90;
  font-size: 12px;
}

#Partie5 .pro {
  background-color: #ffffff;
  color: #1f1f1f;
  border-radius: 5px;
  width: 300px;
  height: 580px;
  margin-left: 40px;
  margin-right: 40px;
}

#Partie5 .pro .protitle {
  color: #1f1f1f;
  text-transform: uppercase;
}

#Partie5 .pro .protitle .pop {
  background-color: #4eab08;
  color: #ffffff;
  padding: 8px;
  font-size: 13px;
  border-radius: 15px;
  margin-left: 130px;
}

#Partie5 .pro p {
  padding-top: 30px;
  margin-left: 40px;
  margin-bottom: 20px;
}

#Partie5 .pro .proline {
  font-size: 12px;
  width: 230px;
  color: #b3b3b3;
}

#Partie5 .pro ul {
  padding-top: 20px;
  padding-bottom: 30px;
  list-style-type: none;
}

#Partie5 .pro ul li:before {
  content: "\1F5F8";
  padding-right: 15px;
}

#Partie5 .pro ul li {
  padding-top: 20px;
}

#Partie5 .pro ul li span {
  text-decoration: line-through;
  color: #878b90;
}

#Partie5 .pro button {
  margin-left: 40px;
  color: #ffffff;
  background-color: #fc593b;
  border-radius: 8px;
  padding: 12px;
  width: 180px;
  border: none;
}

#Partie5 .pro button:hover {
  background-color: #d64a32;
}

#Partie5 .pro .progris {
  color: #878b90;
  font-size: 12px;
}

#Page6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#Page6 .foot {
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
}

#Page6 .foot .gris12px {
  margin-top: 30px;
  color: #666666;
  margin-bottom: 30px;
}

#Page6 .foot div .footlistlogo {
  list-style-type: none;
  width: 150px;
  padding: 0;
}

#Page6 .foot div .footlistlogo li {
  display: inline;
  margin-right: 15px;
}

#Page6 .footlien {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 40px;
}

#Page6 .footlien div .foothead {
  color: #666666;
}

#Page6 .footlien div .footlist {
  list-style-type: none;
  font-size: 15px;
  padding: 0px;
}

#Page6 .footlien div .footlist a:link {
  text-decoration: none;
  color: #1f1f1f;
  font-weight: bold;
}

#Page6 .footlien div .footlist a:visited {
  text-decoration: none;
}

#Page6 .footlien div .footlist a:hover {
  text-decoration: none;
}

#Page6 .footlien div .footlist a:active {
  text-decoration: none;
}

.footlogo {
  -webkit-filter: invert(49%) sepia(93%) saturate(3297%) hue-rotate(196deg) brightness(100%) contrast(101%);
          filter: invert(49%) sepia(93%) saturate(3297%) hue-rotate(196deg) brightness(100%) contrast(101%);
}
/*# sourceMappingURL=style.css.map */