@media all and (max-width: 1024px) {
  nav {
    display: none; } }
body {
  background-color: #E5E5E5;
  width: 0 auto; }

.container {
  max-width: 0 auto;
  margin: 10%;
  border: 1px solid green;
  position: relative; }

@media all and (min-width: 1024px) {
  body {
    margin: 0 auto; }

  .container {
    margin: 0 auto;
    max-width: 900px; } }
img {
  max-width: 100%;
  height: auto; }

.shade {
  background-color: #E5E5E5;
  border: none; }
  .shade a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 30px; }

@media all and (max-width: 600px) {
  .shade {
    width: auto; } }
.navig {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.menu {
  padding-right: 30%; }
  .menu a {
    text-decoration: none;
    color: black;
    padding: 5px;
    font-family: sans-serif; }
    .menu a:hover {
      color: blue; }

.but1 {
  border: 3px solid #258AFF;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  width: auto;
  transition: background 0.3s ease-in, transform 0.2s ease-in-out; }
  .but1 a {
    font-size: 12px;
    text-decoration: none;
    color: #258AFF;
    font-family: sans-serif;
    letter-spacing: 1px;
    text-align: center;
    font-weight: bold; }
  .but1:hover {
    background-color: #258AFF; }
    .but1:hover a {
      color: white; }
  .but1:hover {
    transform: scale(1.1); }

@media all and (max-width: 500px) {
  .but1 {
    display: none; } }
.entete {
  text-align: center;
  font-family: sans-serif; }
  .entete h1 {
    font-size: 30px;
    width: auto; }
  .entete p {
    color: grey;
    text-align: center; }

@media all and (min-width: 1024px) {
  .entete {
    width: 60%;
    padding-top: 40px; }
    .entete .present {
      padding-top: 50px; }
    .entete .create {
      width: 57%;
      margin-left: 180px;
      text-align: center;
      font-size: 15px; }
    .entete h1 {
      font-size: 60px;
      margin-top: 0px;
      margin-bottom: 0px; } }
.email {
  display: flex;
  border: 1px solid red;
  justify-content: center;
  align-items: space-between;
  box-sizing: border-box; }
  .email input[type=submit] {
    background-color: orangered;
    border: 1px solid orangered;
    height: auto;
    padding: 10px;
    color: white;
    border-radius: 8px;
    font-size: auto;
    text-align: center;
    font-weight: bold;
    width: auto; }
  .email input[type=email] {
    border: none;
    width: auto;
    min-width: 10px; }

@media all and (min-width: 1024px) {
  .email {
    border: 1px solid blue;
    width: auto;
    height: auto;
    display: flex;
    margin-top: 30px; }
    .email input[type=submit] {
      padding: 15px;
      color: white;
      border-radius: 8px;
      font-size: auto;
      text-align: center;
      font-weight: bold;
      margin-left: 1%; }
    .email input[type=email] {
      padding: 10px;
      width: auto;
      border: 1px solid white;
      border-radius: 5px; } }
.soustitre {
  text-align: center;
  color: grey;
  font-size: 15px;
  font-family: sans-serif; }

.titre1 {
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .titre1 img {
    height: 30px;
    filter: invert(56%) sepia(73%) saturate(4337%) hue-rotate(163deg) brightness(97%) contrast(101%); }
  .titre1 h3 {
    font-family: sans-serif;
    border: 1px solid blue;
    padding-left: 10px;
    margin-bottom: 8px; }

.tr {
  border: 1px solid red;
  margin-left: 40px;
  padding: 0px;
  width: auto; }
  .tr p {
    font-family: sans-serif;
    color: grey;
    letter-spacing: 0.5px;
    font-size: 13px;
    margin: 0px; }

@media all and (min-width: 1024px) {
  .tableau {
    display: flex;
    flex-direction: columns;
    width: auto;
    margin-top: 150px; }
    .tableau div, .tableau p {
      border: 1px solid green; }
    .tableau .tr {
      margin-left: 30px;
      margin-top: 10px; }
      .tableau .tr p {
        font-size: 15px;
        width: auto; } }
.fondbleu {
  margin-top: 100px;
  background-color: #258AFF; }

.tel {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 400px;
  transform: translateY(-120px);
  border: 1px solid red;
  margin-bottom: -120px; }

.textimg {
  border: 1px solid red;
  color: white;
  margin-bottom: 100px;
  font-family: sans-serif; }
  .textimg .titrecontent {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold; }
  .textimg h2 {
    font-size: 30px; }
  .textimg .content {
    letter-spacing: 1.5px;
    line-height: 40px;
    opacity: 0.5; }
  .textimg button {
    border: 3px solid #258AFF;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    width: auto;
    border-radius: 7px;
    padding: 3%; }
    .textimg button a {
      font-size: 12px;
      text-decoration: none;
      color: #258AFF;
      font-family: sans-serif;
      letter-spacing: 1px;
      text-align: center;
      font-weight: bold; }
    .textimg button:hover {
      background-color: #258AFF; }
      .textimg button:hover a {
        color: white; }
    .textimg button:hover {
      border: 1px solid white; }

@media all and (min-width: 1024px) {
  .contenu2 {
    border: 1px solid red;
    display: flex;
    align-items: flex-start; }
    .contenu2 .tel {
      margin-right: 80px;
      transform: translate(0px); }
    .contenu2 .textimg {
      margin-top: 150px; }
    .contenu2 h2 {
      font-size: 30px; }
    .contenu2 .titrecontent {
      font-size: 15px; }
    .contenu2 .content {
      font-size: 12px;
      line-height: 28px; } }
.partie3 {
  font-family: sans-serif; }
  .partie3 .part3logo {
    text-align: center;
    padding: 10%; }
  .partie3 .part3text p:first-child {
    color: #258AFF;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold; }
  .partie3 .part3text p:last-child {
    line-height: 40px;
    color: grey; }
  .partie3 .part3text h2 {
    font-size: 25px;
    line-height: 40px; }
  .partie3 .photos2 {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    max-width: 400px;
    -webkit-box-shadow: 0px 0px 21px 2px rgba(0, 0, 0, 0.58);
    box-shadow: 0px 0px 21px 2px rgba(0, 0, 0, 0.58); }

.part3logo .logo1 {
  background-color: yellow;
  border: 1px solid yellow;
  border-radius: 100%;
  padding: 3%;
  filter: invert(100%); }

.partie4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-left: 67px; }
  .partie4 div div .h2blue {
    color: #258aff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px; }
  .partie4 div div .grandGras {
    font-weight: bold;
    font-size: 30px; }
  .partie4 div div .gris {
    color: #666666;
    font-size: 15px;
    line-height: 32px; }
  .partie4 div .partie4-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #ffffff;
    margin: 10px;
    height: 250px;
    width: 315px; }
    .partie4 div .partie4-1 .font15px {
      font-size: 15px;
      margin-bottom: 20px;
      line-height: 32px; }
    .partie4 div .partie4-1 .jobgris {
      color: #666666;
      font-size: 12px;
      margin-top: -20px; }
    .partie4 div .partie4-1 .partie4-1-mini {
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-content: center;
      gap: 10px;
      width: 180px; }
      .partie4 div .partie4-1 .partie4-1-mini div .imgicons {
        padding-top: 15px;
        width: 43px;
        height: 43px; }
  .partie4 div .list {
    list-style-type: none;
    margin-left: -12px;
    margin-right: 55px;
    filter: grayscale(1); }
    .partie4 div .list .imglogo {
      width: 100px;
      height: 27.71px; }
    .partie4 div .list .listlogo {
      width: 200px;
      display: inline;
      padding-left: 10px; }

/*# sourceMappingURL=style.css.map */
