// #menu-button{
//   position:absolute;
//   top:0;
//   right:0;
//   width:50px;
//   height:50px;
//   overflow:hidden;
//   background:#fff;
//   color:#000;
//   line-height:50px;
//   text-align:center;
//   font-size:40px;
//   cursor:pointer;
//   transition:all .5s;
// }


// #menu-button::after{
//   content:'×';
// }
// #menu-button.close{
//   color:#fff;
//   background:#000;
// }
// #menu-button.close::after{
//   content:'≡';
// }

// #menu{
//   transition:transform .5s;
//   position:absolute;
//   width:100%;
//   max-width:480px;
//   transform:translateY(-300px);

// }
// #menu.show-menu{
//   transform:translateY(51px);
// }
// 

// A MODIFIER POUR LE MENU DEROULANT !
@media all and (max-width: 1024px){
  nav{
    display: none;
  }
  }
  ///////////
  @mixin bouton{  
    border:3px solid #258AFF;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    width: auto; 
    a{
  font-size: 12px;
      text-decoration: none;
      color:#258AFF;
      font-family: sans-serif;
      letter-spacing: 1px;
      text-align: center;
      font-weight: bold;
      }
  &:hover{
      background-color: #258AFF;
      a{color: white;}
      }
  
  }
  
  body{
    background-color:#E5E5E5;
    width:0 auto;
    
  
  }
  .container{
    max-width:0 auto;
    margin: 10%;
    border:1px solid green;
    position: relative;
  }
  
  @media all and (min-width: 1024px)
  {
      body{
    margin:0 auto;
     }
     .container{
    margin:0 auto;
    max-width: 900px;
    
     }
  }
  
  img{
    max-width: 100%;
    height: auto;
  }
  .shade{
    background-color: #E5E5E5;
    border: none;
    a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 30px;
  }}
  @media all and(max-width: 600px){
    .shade{width: auto;
    }
  }
  
  
  .navig{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
  
  .menu{
    padding-right: 30%;
    a{
      text-decoration: none;
      color: black;
      padding:5px;
      font-family: sans-serif; 
      &:hover{
      color:blue; 
     } 
    }
  }
  
  .but1{
  @include bouton;
  transition: background 0.3s ease-in, transform 0.2s ease-in-out;
  &:hover{transform:scale(1.1);}
  }
  @media all and (max-width: 500px){
    .but1{display: none;}
  }
  
  .entete{
    
    text-align: center;
    font-family: sans-serif;
    h1{font-size:30px;
      width:auto;
    }
    p{
      color:grey;
      text-align: center;
  
  
    }
  }
  @media all and (min-width: 1024px){
    .entete{width: 60%;
      padding-top: 40px;
      
  
      .present{
        padding-top: 50px;
  
      }
      .create{
        width:57%;
        margin-left:180px;
        text-align: center;
        font-size: 15px;
  
      }
     h1{
      font-size:60px;
      margin-top: 0px;
      margin-bottom: 0px;
     }
    }
  }
  
  
  
  .email{
    display: flex;
    border:1px solid red;
    justify-content: center;
    align-items:space-between;
    box-sizing:border-box;
    input[type=submit]{background-color: orangered;
      border:1px solid orangered;
      height: auto;
      padding: 10px;
      color:white;
      border-radius: 8px;
      font-size:auto;
      text-align: center;
      font-weight: bold;
      width: auto;
    }
    input[type=email]{
      border:none;
      width: auto;
      min-width: 10px;
  
    }
  }
  @media all and(min-width: 1024px)
  {
    .email{
      border:1px solid blue;
     width:auto;
     height: auto;
     display: flex;
     margin-top:30px;
     input[type=submit]{
      
      padding: 15px;
      color:white;
      border-radius: 8px;
      font-size:auto;
      text-align: center;
      font-weight: bold;
      margin-left:1%;
    }
    input[type=email]{
      padding: 10px;
      width: auto;
      border:1px solid white;
      border-radius:5px; }
    }
  }
  .soustitre{text-align:center;
      color: grey;
      font-size: 15px;
      font-family: sans-serif;}
  
  
  .titre1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    img{
      height: 30px;
      filter: invert(56%) sepia(73%) saturate(4337%) hue-rotate(163deg) brightness(97%) contrast(101%);
  
  
    }
    h3{font-family: sans-serif;
      border:1px solid blue;
      padding-left:10px;
      margin-bottom:8px;}
   
  }
  .tr{
    border: 1px solid red;
  
    p{
      font-family: sans-serif;
      color:grey;
      letter-spacing: 0.5px;
      font-size:13px;
      
      margin:0px;
    }
    margin-left:40px;
    padding:0px;
    width:auto;
  
  }
  @media all and (min-width: 1024px){
  .tableau{
    div,p{border:1px solid green;}
    display: flex;
    flex-direction: columns;
    width: auto;
    margin-top:150px;
    .titre1{
  
    }
    .tr{margin-left:30px;
      margin-top:10px;
      p{font-size:15px;
      width: auto;
      }}
  
  }}
  
  
  .fondbleu{
  margin-top: 100px;
  background-color:#258AFF;
  
  
  }
  .tel{
    width: 100%;
    height: auto;
  margin-left:auto;
  margin-right:auto;
  display:block;
  max-width: 400px;
    transform:translateY(-120px);
    border:1px solid red;
    margin-bottom:-120px;
    
  }
  .textimg{
    border:1px solid red;
    
    color:white;
    margin-bottom: 100px;
    font-family: sans-serif;
    .titrecontent{
      text-transform:uppercase;
      letter-spacing: 1px;
      font-weight: bold;
    }
    h2{
      font-size: 30px;
    }
    .content{letter-spacing:1.5px;
      line-height: 40px;
      opacity:0.5}
    button{
      @include bouton;
      border-radius: 7px;
    
      &:hover{border:1px solid white;}
     padding: 3%;
     
  
    }
  }
  
  
  @media all and (min-width: 1024px){
  .contenu2{
    border:1px solid red;
    display: flex;
    align-items: flex-start;
   .tel{margin-right:80px;
    transform:translate(0px);}
   .textimg{
    margin-top: 150px;
   }h2{font-size:30px;}
  .titrecontent{font-size: 15px;
   }
   .content{font-size: 12px;
    line-height: 28px;}
  }
  
  }
  
  .partie3{
    font-family: sans-serif;
    .part3logo{text-align: center;
    padding: 10%;}
    .part3text{
      p:first-child
      {color:#258AFF;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bold}
      p:last-child{
        line-height: 40px;
        color:grey;
      }
      h2{font-size:25px;
        line-height: 40px;
      }
    }
  
    .photos2{width:100%;
      height: auto;
      box-sizing: border-box;
      max-width: 400px;
    -webkit-box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.58); 
  box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.58);
  }
  }
  
  .part3logo{
    .logo1{
    background-color: yellow;
    border:1px solid yellow;
    border-radius:100%;
    padding:3%;
    filter:invert(100%);
    }}
  
  
  // @media all and (min-width: 1024px){
  //   .partie3{
  //    justify-content: center;
  //    float:left;
  //     div{border:1px solid red;}
    
  //     }
     
  // }
  
  //  .photos2{float:left; display:flex; 
  //       width: 400px;}
  
  #Page4 {
    background-color: #e3eef8;
  
    .partie4 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      // margin-left: 30px;
      div {
        div {
          margin-bottom: 10px;
          .h2blue {
            color: #258aff;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 15px;
          }
          .grandGras {
            font-weight: bold;
            font-size: 30px;
          }
          .gris {
            color: #666666;
            font-size: 15px;
            line-height: 32px;
            margin-left: 5px;
            margin-right: 5px;
          }
        }
        .partie4-1 {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-content: center;
          background-color: #ffffff;
          height: 250px;
          width: auto;
          padding-top: 5px;
          .font15px {
            font-size: 15px;
            margin-bottom: 20px;
            line-height: 32px;
            margin-left: 10px;
          }
          .jobgris {
            color: #666666;
            font-size: 12px;
            margin-top: -20px;
            margin-left: 10px;
          }
          .partie4-1-mini {
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-content: center;
            width: 200px;
            margin-left: 10px;
            div {
              .imgicons {
                padding-top: 15px;
                width: 43px;
                height: 43px;
              }
            }
          }
        }
        .partie4-1-bis {
          display: none;
          flex-direction: column;
          justify-content: center;
          align-content: center;
          background-color: #ffffff;
          // height: 250px;
          width: auto;
          padding-top: 5px;
          .font15px {
            font-size: 15px;
            margin-bottom: 20px;
            line-height: 32px;
            margin-left: 10px;
          }
          .jobgris {
            color: #666666;
            font-size: 12px;
            margin-top: -20px;
            margin-left: 10px;
          }
          .partie4-1-mini {
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-content: center;
            width: auto;
            margin-left: 10px;
            div {
              .imgicons {
                padding-top: 15px;
                width: 43px;
                height: 43px;
              }
            }
          }
        }
        
      }
      div {
        .list {
          margin-top: 50px;
          margin-bottom: 50px;
          list-style-type: none;
          filter: grayscale(1);
          .imglogo {
            width: 100px;
            height: 27.71px;
            padding-top: 10px;
          }
          .listlogo {
            display: inline;
            padding-left: 10px;
            padding-right: 10px;
          }
        }
      }
    }
  }
  #Partie5 {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 35px;
    padding-bottom: 50px;
    background-color: #192f48;
    .headp5 {
      margin-left: 40px;
      .h2white {
        color: #ffffff;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 15px;
      }
      .grandblanc {
        font-weight: bold;
        font-size: 25px;
        color: #ffffff;
      }
    }
    .basic {
      background-color: #2b405a;
      color: #ffffff;
      border-radius: 5px;
      width: 300px;
      height: 580px; //voir après
      margin-left: 40px;
      margin-right: 40px;
      .basictitle {
        color: #e5e5e5;
        text-transform: uppercase;
      }
      p {
        padding-top: 30px;
        margin-left: 40px;
        margin-bottom: 20px;
      }
      .basicline {
        font-size: 12px;
        width: 230px;
        color: #e5e5e5;
      }
      ul {
        padding-top: 20px;
        padding-bottom: 30px;
        list-style: none;
        li:before {
          content: "\1F5F8";
          padding-right: 15px;
        }
        li {
          padding-top: 20px;
          span {
            text-decoration: line-through;
            color: #878b90;
          }
        }
      }
      button {
        margin-left: 40px;
        color: #ffffff;
        background-color: #258aff;
        border-radius: 8px;
        padding: 12px;
        width: 180px;
        border: none;
        &:hover {
          background-color: #1f7be4;
        }
      }
      .basicgris {
        color: #878b90;
        font-size: 12px;
      }
    }
    /////
    .pro {
      background-color: #ffffff;
      color: #1f1f1f;
      border-radius: 5px;
      width: 300px;
      height: 580px; //voir après
      margin-left: 40px;
      margin-right: 40px;
      .protitle {
        color: #1f1f1f;
        text-transform: uppercase;
        .pop {
          background-color: #4eab08;
          color: #ffffff;
          padding: 8px;
          font-size: 13px;
          border-radius: 15px;
          margin-left: 130px;
        }
      }
      p {
        padding-top: 30px;
        margin-left: 40px;
        margin-bottom: 20px;
      }
      .proline {
        font-size: 12px;
        width: 230px;
        color: #b3b3b3;
      }
      ul {
        padding-top: 20px;
        padding-bottom: 30px;
        list-style-type: none;
        li:before {
          content: "\1F5F8";
          padding-right: 15px;
        }
        li {
          padding-top: 20px;
          span {
            text-decoration: line-through;
            color: #878b90;
          }
        }
      }
      button {
        margin-left: 40px;
        color: #ffffff;
        background-color: #fc593b;
        border-radius: 8px;
        padding: 12px;
        width: 180px;
        border: none;
        &:hover {
          background-color: #d64a32;
        }
      }
      .progris {
        color: #878b90;
        font-size: 12px;
      }
    }
  }
  #Page6 {
    display: flex;
    flex-direction: column;
    .foot {
      margin-top: 30px;
      margin-left: 40px;
      margin-right: 40px;
      .gris12px {
        margin-top: 30px;
        color: #666666;
        margin-bottom: 30px;
      }
      div {
        .footlistlogo {
          list-style-type: none;
          width: 150px;
          padding: 0;
          li {
            display: inline;
            margin-right: 15px;
          }
        }
      }
    }
    .footlien {
      display: flex;
      flex-direction: column;
      margin-left: 40px;
      div {
        .foothead {
          color: #666666;
        }
        .footlist {
          list-style-type: none;
          font-size: 15px;
          a:link {
            text-decoration: none;
            color: #1f1f1f;
            font-weight: bold;
          }
          a:visited {
            text-decoration: none;
          }
          a:hover {
            text-decoration: none;
          }
          a:active {
            text-decoration: none;
          }
          padding: 0px;
        }
      }
    }
  }
  .footlogo {
    filter: invert(49%) sepia(93%) saturate(3297%) hue-rotate(196deg)
      brightness(100%) contrast(101%);
  }